.leaderboard_body{
    width: 100%;
    height: 85vh;
    min-height: max-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background-color: red; */
}
.leaderboard_wrapper{
    width: 90%;
    height: 95%;
    min-height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: blue; */
}
.leaderboard_body h4{
    font-size: 1.5em;
    color: var(--primary-color);
    margin-bottom: 1rem;
}
.leaderboard_header{
    width: 100%;
    height: 5%;
    display: flex; 
    align-items: center;
    /* background-color: red; */
}
.leaderboard_table{
    width: 100%;
    height: 90%;
    /* background-color: blue; */
}