* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.dashboardLayout_body {
  display: flex;
  height: max-content;
  width: 100%;
}

.mainContent {
  display: flex;
  flex-direction: column;
  height: max-content;
  width: 100%;
}

.content {
  width: 100%;
  height: max-content;
}


.footer {
  height: 80px;
  background-color: #F3F3F3;
  color: white;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.footer h4{
  color: var(--Colors-Secondary-400, #115471);
  text-align: center;
  font-family: "Poppins",sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

@media (max-width: 480px) {
  .dashboardLayout_body {
    flex-direction: column;
  }

  .mainContent {
    padding-left: 0;
  }

  .content {
    height: max-content;
  }

  .footer {
    height: 40px;
  }
}
